@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Inter&family=Sanchez:ital@1&display=swap');

.maindiv{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: rgb(10,58,105);
}

.subdiv1{
    display: flex;
    justify-content: center;
}
.subdiv1 img{
    padding-top: 20px;
    width: 267px;
    height: 50px;
    padding-bottom: 50px;
}

.subdiv2{
    display: flex;
    justify-content: center ;
}
#subdiv23{
    width: 80%;
}
.subdiv2 p{
    padding-bottom: 25px;
    font-size: 18px;
    font-weight: 500;
}

#lastsent{
    padding-bottom: 100px;
}