@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Inter&family=Sanchez:ital@1&display=swap');

.bodycontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    align-items: center;
    text-align: center;
}

.logo{
    margin-top: 10em;
    width: 100%;
}
.logo img{
    width: 27.75em;
    height: 5.625em;
}

.content{
    margin-top: 1.875em;
    margin-left: 20vw;
    margin-right: 20vw;
}
.content p{
    font-size: 1em;
}
.content a{
    color: rgb(3, 130, 255);
    font-size: 1.01em;
}