@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}
.navbar{
    font-family: 'Sanchez', serif;
    font-size: 1em;
    font-style: normal;
    background-color: rgb(10,58,105);
    height: 3.125em;
    width: 100%;
}
.navbar img{
    width: 1.5em;
    height: 1.5em;
}
.leftside{
    float: left;
    padding-top: 0.813em;
    padding-left: 0.938em;
}

.leftside img:hover{
    cursor: pointer;
}

.rightside{
    text-align: right;
    padding-top: 0.813em;
}
.rightside a{
    text-decoration: none;
    color: white;
    padding-right: 0.938em;
}

#button{
    margin-right: 0.938em;
    border-radius: 0;
    padding: 0.188em 0.313em;
    color: rgb(10,58,105);
    background-color: white;
    width: 4.375em;
    height: 1.5em;
}
